.App {
  background-color: #192938;
  text-align: left;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.App-header {
  background-color: #192938;
  min-height: 10vh;
  margin-top: 16px;
  margin-bottom: 16px;

  color: white;
}

.App-paragraph {
  background-color: #192938;
  color: white;
  text-align: center;
}

.Spinner-custom {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #CFD861;
}

.SearchInput-dark {
  border-color: #CFD861;
  background-color: #2B425A;
  color: white;
}

.SearchInput-dark:focus {
  border-color: #CFD861;
  background-color: #2B425A;
  color: white;
}

.SearchButton-dark {
  border-color: #CFD861;
  background-color: #2B425A;
}

.SearchButton-dark:hover {
  border-color: #CFD861;
  background-color: #CFD861;
  color: #2B425A;
}

.User-link {
  color: #CFD861;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 4px;
}

.User-link:hover {
  color: #8EAF2D;
}

.User-stats {
  font-size: 20px;
}

.User-Results {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  border-left-color: #CFD861;
  border-bottom-color: #CFD861;
  border-width: 2px;
  background-color: #2B425A;
  color: white;
}

.User-stats-icons {
  padding-left: 0px;
  padding-right: 4px;
  padding-top: 4px;
  color: #CFD861;
}

.Pagination-buttons {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 16px;
}

.Pagination-button {
  margin-left: 8px;
  border-color: #CFD861;
  background-color: #2B425A;
}

.Pagination-button:hover {
  border-color: #CFD861;
  background-color: #CFD861;
  color: #2B425A;
}